# no longer necessary to directly pass through .Values.monitoring.enabled
# the package chart uses: .Capabilities.APIVersions.Has "monitoring.coreos.com/v1" to toggle monitoring
# metrics:
#   enabled: true
#   serviceMonitor:
#     enabled: true

# monitoring:
#   enabled: true

unregisterRunners: true

rbac:
  create: false

runners:
  secret: gitlab-gitlab-runner-secret
  runUntagged: true
  protected: true
  job:
    namespace: "###ZARF_VAR_JOB_RUNNER_NAMESPACE###"
  config: |
    [[runners]]
      url = "http://gitlab-webservice-default.gitlab.svc.cluster.local:8181"
      clone_url = "http://gitlab-webservice-default.gitlab.svc.cluster.local:8181"
      cache_dir = "/tmp/gitlab-runner/cache"
      [runners.kubernetes]
        namespace = "{{ printf "%s" .Values.runners.job.namespace }}"
        helper_image = "registry1.dso.mil/ironbank/gitlab/gitlab-runner/gitlab-runner-helper:v16.6.0"
        image="alpine"
        image_pull_secrets = ["private-registry"]
      [runners.kubernetes.pod_labels]
        "job_id" = "${CI_JOB_ID}"
        "job_name" = "${CI_JOB_NAME}"
        "pipeline_id" = "${CI_PIPELINE_ID}"
      [runners.kubernetes.helper_container_security_context]
        run_as_user = 1001
        run_as_group = 0
      
