build/
*.tar.gz
*.tar.zst
~/
.vscode/
.DS_Store
tmp
zarf-sbom

**node_modules
**coverage

.cache/
.idea/
build/
.DS_Store
*.tar.zst
zarf-sbom
tmp/
values-*.yaml
overlay-values-*

# Dependency files
uds-config-gitlab.yaml

#place where temporary git repos are created
**tmp-repos
