kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{.Values.runners.job.namespace}}
  namespace: {{.Values.runners.job.namespace}}
subjects:
  - kind: ServiceAccount
    name: default
    namespace: gitlab-runner
roleRef:
  apiGroup: ""
  kind: ClusterRole
  name: {{.Values.runners.job.namespace}}
